<a href="https://colab.research.google.com/github/Zhampar/PythonProgramming/blob/main/Ex2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [ ]:
s = "My name is python"
print(len(s))

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
print(s.lower().count("python"))

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [ ]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
combined = ls1 + ls2
print(len(combined))

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [ ]:
person = {
    "Myo": 32,
    "Thida": 64
}
print(person)

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [ ]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combined_set = set1.union(set2)
print(combined_set)
print(len(combined_set))

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [ ]:
user_input = input("Enter a string: ")
if len(user_input) > 1:
    new_string = user_input[0] + "*" + user_input[2:] + "!!!"
else:
    new_string = user_input + "!!!"
print(new_string)

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [ ]:
import string

s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
# Remove punctuation
for char in "-.,;":
    s = s.replace(char, "")
print(s.lower())

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [ ]:
from random import randint

L1 = list(range(1, 101))
L2 = L1.copy()
L2.remove(randint(1, 100))

missing_number = list(set(L1) - set(L2))
print("Missing number:", missing_number[0])

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [ ]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ls1.copy()
ls2.append("blueberry")
print("Original list:", ls1)
print("New list:", ls2)